.background-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.vcentr{
  position: relative;
  z-index: 10;
}

.btnwhite,
.btndark{
  font-weight: bold;
}

.background-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.content-wrapper{
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.content-wrapper.no-logo{
      padding-top: 60px;
}

.background-video{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#subscribeModal button{
    margin: auto;
    height: 48px;
    width: auto;
}

.modal-content{
  background: transparent !important;
  border: none !important;
}

.icomail{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

#subscribeModal .subs{

    /* min-height: 300px  !important; */
    height: auto !important;
    position: relative !important;
    max-height: initial !important;

}

.tlcs_close_button_modal{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.34);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.34);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.34);
  cursor: pointer;
}

.tlcs_close_button_modal i {
  position: absolute;
  top: 7px;
  right: 9px;
}

.pushy,
.about {
    background: #36353b;
}

.about h2 {
    color: #f8f8f8;
}

.about p {
    color: #f8f8f8;
}

.pushy-open-left .pushy {
    width: 70%;
}
              
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea{
	width: 100%;
    padding: 18px;
    border: 2px solid #17181b;
    border-radius: 3px;
    color: #17181b;
    font-family: roboto;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    transition: .3s;
}

.wpcf7-form-control-wrap textarea {
    height: 150px;
    margin-top: 30px;
}

div.wpcf7 .ajax-loader{
    margin: 15px auto;
    display: block;
    background-image: url('../images/ajax-loader.gif');
    width: 32px;
    height: 32px;
}

.wpcf7 form .wpcf7-response-output{
    margin-top: 0;
}